@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 218, 192);
}

.div1{
    margin: 10px;
    padding: 10px;
    font-family: "Playfair Display", serif;
    text-align: center;
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #333;
    font-size: 1.5rem; 
    text-decoration: underline;
    text-decoration-style: dotted;    
    background-color: rgb(20, 107, 107);
}

.div2{
    font-size: large;
    margin: 10px;
    padding: 10px;    
}
.nav-bar ul a:hover{
    background-color: rgb(212, 129, 201);
}
.nav-bar ul{
    list-style: none;
    display: flex;    
    margin: 10px;
    padding: 5px;
    justify-content: center;
}  
.nav-bar ul li {
    margin: 0 20px;
}
.nav-bar ul a{
    color: black;
    text-decoration: none;
}

.div3{
    text-align: center;
    margin: 10px;
    padding: 10px;
    /* background-color: rgba(0, 255, 255, 0.315); */
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.342), rgba(135, 207, 235, 0.329), rgba(173, 216, 230, 0.37));
}

table{
    margin:0 auto;
}
td,th{
    text-align: center;
}
.div4 p{  
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration:underline;
    color: darkred;
    font-size: x-large;
}

.div6{
    text-align: center;
    margin: 10px;
    padding: 10px;
    a:hover{
        background-color: rgb(247, 204, 141);
    }
}

