*{
    margin: 0;
    padding: 0;
}

.div5{
    margin: 10px;
    padding: 10px;
}
.div5>p{
    text-align: center; 
    text-decoration: underline;
    color: darkred;
    font-size: x-large;
}
button{ 
    background-color: rgba(103, 169, 226, 0.712);
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}
#id1{
    button:hover{
        background-color: rgb(245, 80, 80);
    }
    text-align: right;
}
