@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.div1{
    margin: 20px;
    padding: 20px;
    font-family: "Playfair Display", serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-style:double;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #333;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-size: xx-large;
}

.div2{
    text-align: center;
    margin: 10px;
    padding: 10px;
    /* background-color: rgba(0, 255, 255, 0.315); */
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.342), rgba(135, 207, 235, 0.329), rgba(173, 216, 230, 0.37));
    
}

.div3{
    color:rgb(52, 36, 192);
    margin: 10px;
    padding: 10px;
    text-align: center;  

    position: sticky;
    top: 0px;
    .nav-bar{
        margin: 10px;
        padding: 10px;
        list-style-position: inside;
    }
    .nav-bar ul{
        margin: 10px;
        padding: 5px;
        border: 2px solid black;
        background-color: rgba(230, 220, 81, 0.897);
    }
    a:hover{
        background-color: rgb(218, 70, 198);
    }
}

table{
    margin:0 auto;
}
td,th{
    text-align: center;
}
.div4 p{  
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration:underline;
    color: darkred;
    font-size: x-large;
}

.div5{
    margin: 10px;
    padding: 10px;
}
.div5>p{
    text-align: center; 
    text-decoration: underline;
    color: darkred;
    font-size: x-large;
}
button{ 
    background-color: rgba(103, 169, 226, 0.712);
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}
#id1{
    button:hover{
        background-color: rgb(245, 80, 80);
    }
    text-align: right;
}

.div6{
    text-align: center;
    margin: 10px;
    padding: 10px;
    a:hover{
        background-color: rgb(247, 204, 141);
    }
}

